.Order {
   width: 60vw;
   min-height: 20vh;
   max-height: 70vh;

   &__head {
      display: flex;
      font-size: 30px;
      justify-content: space-between;
   }
   &__body {
      margin-top: 16px;
      text-align: center;
   }
   &__description {
      text-align: left;
   }
   &__send-button {
      margin-top: 16px;
      font-size: 28px;
   }
}